@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Serif&family=Righteous&family=Source+Serif+Pro:wght@400;600&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  /* background-color: azure; */
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

nav {
  padding: 10px 2.5%;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  background: #fff;
  position: sticky;
  z-index: 10;
  top: 0;
}

.nav-right img {
  width: 32px;
  margin-right: 25px;
}

/* .nav-right .umn {
  transform: translateY(-15px);
} */

.nav-right .zayn {
  width: 60px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 25px;
  margin-right: 15px;
}

.nav-left .logo {
  width: 225px;
}

.nav-middle .search-box {
  padding: 5px 60px;
  border: 1px solid gray;
  border-radius: 30px;
}

.nav-middle .search-box img {
  transform: translateX(-0px);
  opacity: 0.7;
}

.nav-middle .search-box img:hover {
  opacity: 1;
}

.nav-middle .search-box .search {
  padding: 5px 6.5%;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 1.1rem;
  margin-right: 5px;
  transform: translateX(-18%);
  outline: none;
}

/* .nav-middle .search-box .search {
  outline: none;
} */

.mic-icon {
  margin-left: 50px;
  width: 20px;
  opacity: 0.75;
}

.mic-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* ------ Sidebar ------ */

.sidebar {
  background: #fff;
  width: 18%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 100px;
  padding-left: 2%;
}

.shortcut-links a img {
  width: 30px;
  margin-right: 25px;
}

.shortcut-links a {
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.shortcut-links a:first-child {
  color: #ff0000;
}

.shortcut-links a:hover {
  color: #ff0000;
}

.sidebar hr {
  border: 0;
  height: 1.5px;
  background: #ccc;
  width: 85%;
}

.subscribed-list h3 {
  font-size: 15px;
  margin: 20px 0;
  color: #5a5a5a;
}

.subscribed-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}

.subscribed-list img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.hide-sidebar {
  width: 6%;
  /* padding-left: 1%; */
}

.hide-sidebar a p {
  display: none;
}

.hide-sidebar h3 {
  display: none;
}

.hide-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

/* -------main----- */

.container {
  background: #f9f9f9;
  padding-left: 20%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.large-container {
  padding-left: 10%;
}

.banner {
  width: 100%;
}

.banner img {
  height: 320px;
  width: 100%;
  border-radius: 15px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
}

.video-list .thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-list .flex-div {
  align-items: flex-start;
  margin-top: 10px;
}

.video-list .flex-div img {
  width: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.vid-info {
  color: #5a5a5a;
  font-size: 13px;
}

.vid-info a {
  color: #000;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .menu-icon {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .container,
  .large-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-right .umn {
    display: none;
  }

  .nav-right .zayn {
    width: 35px;
    transform: translateX(-10px);
  }

  .nav-middle .search-box input {
    width: 100px;
  }

  .nav-middle .search-box img {
    transform: translateX(40px);
  }

  .nav-middle .mic-icon {
    transform: translateX(-30px);
  }

  nav {
    width: max-content;
  }

  .container .banner img {
    max-height: 150px;
    min-width: 562px;
    max-width: max-content;
  }

  .container .list-container {
    grid-template-columns: repeat(auto-fit, minmax(562px, 1fr));
  }

  .logo {
    width: 90px;
  }

  .vid-info a,
  p {
    font-size: 16px;
  }

  .video-list .flex-div img {
    width: 50px;
  }
}
